<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>数据元详细信息</title>
	<link href="./libs/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="./libs/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
	<link href="./libs/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
	<link href="./libs/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
	<link href="./libs/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet">
	<link href="./libs/plugins/bootstrap-modal/css/bootstrap-modal.css" rel=" stylesheet">
	<link href="./libs/plugins/bootstrap-toastr/toastr.min.css" rel=" stylesheet">
	<link href="./libs/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
	<link href="./libs/plugins/select2/css/select2.min.css" rel="stylesheet"/>
	<link href="./libs/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet"/>
	<link href="./libs/plugins/animate.css" rel="stylesheet">
	<link href="./libs/epm.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/pace/1.0.2/themes/silver/pace-theme-loading-bar.css" rel="stylesheet" />
	<script src="https://cdn.bootcss.com/pace/1.0.2/pace.js"></script>
	<script src="./libs/plugins/jquery.min.js" type="text/javascript"></script>
	<script src="./libs/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="./libs/bootstrap-paginator.js"></script>
	<script src="./libs/plugins/sweetalert/sweetalert.min.js"></script>
	<script src="./libs/plugins/bootstrap-toastr/toastr.min.js"></script>
	<script src="./libs/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
	<script src="./libs/plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="./libs/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
	<script src="./libs/epm.js"></script>
	<script src="./libs/plugins/scrollfix/scrollfix.js"></script>
	<script src='./libs/vue.js' type='text/javascript'></script>
	<script src='./libs/vue-resource.js' type='text/javascript'></script>
</head>
<body style="background: #eff3f8;" >
<div class="cde-header">
	<div class="cde-logo col-sm-4">
		<a href="#/">
			<img src="./libs/image/logo_4.png" alt="logo" class="logo-default">
		</a>
	</div>
</div>
<div class="epm-detail container" id="eElesM">
	<div class="epm-detail-title" v-for="(ele,index) in dataM.ELEMENT" :key="index">
		{{ele.METADATA_NAME}}
	</div>
	<div class="detail-wrapper">
		<div class="detail-name">数据元属性</div>
		<div class="detail-attribute">标识类属性</div>
		<div v-for="(ele,index) in dataM.ELEMENT" :key="index">
			<div class="detail-info">
				<div class="col-xs-3 text-right">数据元名称：</div>
				<div class="col-xs-9 text-left">{{ele.METADATA_NAME}}</div>
				<div class="clearfix"></div>
			</div>
			<div class="detail-info">
				<div class="col-xs-3 text-right">数据元标识符：</div>
				<div class="col-xs-9 text-left">{{ele.METADATA_IDENTIFY}}</div>
				<div class="clearfix"></div>
			</div>
			<div class="detail-info">
				<div class="col-xs-3 text-right">版本：</div>
				<div class="col-xs-9 text-left">{{ele.VERSION}}</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="detail-attribute">表示类属性</div>
		<div v-for="(ele,index) in dataM.ELEMENT" :key="index">
			<div class="detail-info">
				<div class="col-xs-3 text-right">数据元值的数据类型：</div>
				<div class="col-xs-9 text-left">{{ele.DATA_META_DATATYPE}}</div>
				<div class="clearfix"></div>
			</div>
			<div class="detail-info">
				<div class="col-xs-3 text-right">数据元允许值：</div>
				<div class="col-xs-9 text-left"><a :href="globalHref + 'epm_options_detail.html?code=' + ele.FIELDCODE_TABLECODE" target="_blank">{{ele.FIELDCODE_TABLECODE}}</a></div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="detail-name">关系</div>
		<div class="detail-attribute">相关机构</div>
		<div class="detail-info">
			<div class="col-xs-3 text-right">该数据元使用机构：</div>
			<div class="col-xs-9 text-left">
				<div v-if="dataM.AGENCYS == 0">暂无机构</div>
				<div v-for="(agency,index) in dataM.AGENCYS" :key="index">
					{{agency.AGENCY_NAME}}：{{agency.SUBJECT_NAME}}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="detail-attribute">相关数据集</div>
		<div class="detail-info">
			<div class="col-xs-3 text-right">包含该数据元的数据集：</div>
			<div class="col-xs-9 text-left">
				<div v-if="dataM.SETS == 0">暂未相关数据集</div>
				<div v-for="(set,index) in dataM.SETS" :data-set-code="set.DS_CODE" :key="index">
					<a :href="globalHref +'epm_sets_detail.html?code=' + set.DS_CODE" target="_blank">{{set.DS_NAME}}</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="detail-attribute">相关模板</div>
		<div class="detail-info">
			<div class="col-xs-3 text-right">该数据元使用情况：</div>
			<div class="col-xs-9 text-left">
				<div v-if="dataM.TPL_ELEMEMTS == 0">暂未使用</div>
				<div v-for="(tplE,index) in dataM.TPL_ELEMEMTS" :data-set-code="tplE.ID" :key="index">
					{{tplE.NAME}}：{{tplE.ALIAS}}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="detail-name">来源</div>
		<div class="detail-attribute">标准</div>
		<div class="detail-info">
			<div class="col-xs-3 text-right">数据来源：</div>
			<div class="col-xs-9 text-left">EPM</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="cde-footer">
	<div class="container-fluid ng-scope">
		2017 © <a href="http://www.goodwillcis.com/" title="北京嘉和美康信息技术有限公司 | 科研事业部" target="_blank">北京嘉和美康信息技术有限公司 | 科研事业部</a>
	</div>
</div>
<script>
$(function(){
	eElesM = new Vue({
		el : '#eElesM',
		data : {
			dataM: {},
		}
	});
	window.code = get_url_param('code');
	eElesM.$http({
		url :globalURL+'/EPMSvr/eleInfos',
		method : 'post',
		params : {"code": code},
		headers : {"X-Requested-With": "XMLHttpRequest"}
	}).then(function(res){
		this.dataM = res.data.data;
	}, function(err){ parent.toastr.error(err); });
});
</script>
</body>
</html>
